/* fonts used:
h1: font-family: 'Roboto Mono', monospace;
body text: font-family: 'Open Sans', sans-serif;
*/

body {
    background-image: url('./images/asfalt-dark.png'), linear-gradient(#111a1c, #18181a);
    font-family: 'Open Sans', sans-serif;
}

#bench-hero {
    background-image: url('./images/bench.jpg');
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

#about {
    margin: 2rem;
    padding: 2rem;
    border-width: .3rem;
    border-style: solid;
    border-image: linear-gradient(to bottom, #3e312f,rgba(0, 0, 0, 0)) 1 100%;
}

#kalob-title {
    top: 40%;
}

p {
    text-indent: 1rem;
}